body{
    background-color:hsl(212, 45%, 89%);
    text-align: center;
    
}

.container{
    width: 330px;
    height: 500px;
    position: absolute;
    left: 500px;
    bottom: 50px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;

}
.qr{
    width: 330px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    

}
.p1{
    font-family: 'Outfit', sans-serif;

    font-size: 25px;
    font-weight: 700;
    

}
.p2{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align:  center;
    color: hsl(220, 15%, 55%);
    
    
}
img{
    width: 330px;
    height: 300px;
    border-radius: 10px;


}
